
<div id="my-col-text">

  <h1>{{ 'Show' }} Rol</h1>

  <table class="bordered">
    <tbody>
    <tr class="fix-tsearch">
      <th>{{ 'Name' }}</th>
      <td>{{ entity.nombre }}</td>
    </tr>
    <tr class="fix-tsearch">
      <th>{{ 'Amount' }}</th>
      <td>{{ entity.monto }}</td>
    </tr>
    <tr class="fix-tsearch">
      <th>{{ 'Start Hour' }}</th>
      <td>{{ entity.horaComerStart }} {{ entity.horaComerStartAMPM }}</td>
    </tr>
    <tr class="fix-tsearch">
      <th>{{ 'Finish Hour' }}</th>
      <td>{{ entity.horaComerEnd }} {{ entity.horaComerEndAMPM }}</td>
    </tr>
    </tbody>
  </table>

  <a class="mybutton" href="{{ app.request.uriForPath('/#!/rol/') }}{{ entity.id }}/edit">
    {{ 'Edit' }}
  </a>
  <form class="generic" action="{{ app.request.uriForPath('/rol/') }}{{ entity.id }}/delete" method="post">
    {{ form_widget(delete_form) }}
    <input id="login-submit" class="submit-button delete_form-btn" type="submit" value="{{ 'Delete' }}" />
  </form>
  <br />
  <a href="{{ app.request.uriForPath('/#!/rol') }}"><img src="{{ asset('img/back.ico') }}" height="40" width="40" /></a>
</ul>
</div> <!-- /col-text -->
