{% block fos_user_content %}

<div id="results">
  <form id="form-signup-login" class="generic" action="{{ path("fos_user_security_check") }}" method="post">
    {% if error %}
      <div>
        <p id="login-msg" class="message red" style="display:;">{{ error }}</p>
      </div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input class="route" type="hidden" value="{{route}}"/>

    <div id="login-username-block" class="field">
      <label for="username">User Name</label>
      <input type="text" class="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div id="login-password-block" class="field">
      <label for="password">Password</label>
      <input type="password" class="text" id="password" name="_password" />
    </div>

    <div id="login-checkbox-block" class="inline">
      <label for="remember_me">¿Remember me?</label>
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    </div>

    <div class="action">
      <input id="login-submit" class="submit-button login_form_btn" type="submit" value="Login" />
    </div>
  </form>
</div>
{% endblock fos_user_content %}
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
