
<div id="col-text">

  <h1>{{ 'Add User' }} Menu</h1>

  <form class="usuariomenu_form generic" action="{{ app.request.uriForPath('/usuariomenu/create') }}" method="post" {{ form_enctype(form) }}>
    {#
    {{ form_widget(form) }}
    <p>
    <button type="submit">{{ 'Crear' }}</button>
    </p>
    #}
    <div id="usuario-menu-dia-block" class="field">
      <label for="dia">{{ 'Day' }}</label>
      {{ form_widget(form.dia,  { 'attr': {'class': 'text'}}) }}
    </div>
    <div id="usuario-menu-hora-block" class="field">
      <label for="hora">{{ 'Hour' }}</label>
      {{ form_widget(form.hora,  { 'attr': {'class': 'text'}}) }}
    </div>
    <div id="usuario-menu-usuario-block" class="field">
      <label for="usuario">{{ 'User' }}</label>
      {{ form_widget(form.usuario,  { 'attr': {'class': 'text'}}) }}
    </div>
    <div id="usuario-menu-menu-block" class="field">
      <label for="menu">Menu</label>
      {{ form_widget(form.menu,  { 'attr': {'class': 'text'}}) }}
    </div>
    <div class="action">
      <input id="login-submit" class="submit-button" type="submit" value="{{ 'Add' }}" />
    </div>
  </form>
</div> <!-- /col-text -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
  <a href="{{ app.request.uriForPath('/#!/usuariomenu') }}"><img src="{{ asset('img/back.ico') }}" height="50" width="50" />
  </a>
</center>
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
