
<div id="my-col-text">

  <h1>{{ 'User' }} Menu</h1>

  <table class="bordered">
    <tbody>
    <tr class="fix-tsearch">
      <th>{{ 'Day' }}</th>
      <td>{{ entity.dia|date('d-m-Y H:i:s') }}</td>
    </tr>
    <tr class="fix-tsearch">
      <th>{{ 'User' }}</th>
      <td>{{ entity.usuario }}</td>
    </tr>
    <tr class="fix-tsearch">
      <th>Menu</th>
      {% if entity.menu != ""  %}
      <td>{{ entity.menu }}</td>
      {% else %}
      <td>{{ 'There is not information available' }}</td>
      {% endif %}
    </tr>
    </tbody>
  </table>
</div> <!-- /col-text -->
  <a href="{{ app.request.uriForPath('/#!/usuariomenu') }}"><img src="{{ asset('img/back.ico') }}" height="50" width="50" />
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
