<p>
<span class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;'></span>
{{'The user'}} <b>{{nombre|capitalize}} {{apellido|capitalize}}</b> {{'has the rol'}} <b>{% filter upper %}{{rol_name}}{% endfilter%}</b>. <br /><br />
{{'The'}} <b>{% filter upper %}{{rol_name}}{% endfilter %}</b> {{'can use the dinning room from'}} <b>{{hora_start}}{{hora_startAMPM}}</b> {{'to'}} <b>{{hora_end}}{{hora_endAMPM}}</b>
</p>
