<p>
<span class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;'></span> ".
{{'The user'}} <b>{{nombre|capitalize}} {{apellido|capitalize}}</b> {{'already eat at time'}} <b>{{hora}}:{{minuto}} {{ampm}}</b> <br /><br />
<a id='closer' href='{{path}}' alt='{{'last lunch'}}'>{{'See last users to lunch..'}}</a>
</p>

