
<div id="my-col-text">

  <table>
    <tr class="tsearch">
      <td>
        <h1>{{ 'Last Users' }}</h1>
      </td>
      <td>
        <div id="filter">
          <form class="generic" action="{{ app.request.uriForPath('/usuario/searchalnc') }}" method="get">
            <img src="{{ asset('img/search.png') }}" class="searchbox_submit" value="" />
            <input autocomplete="off" type="text" class="text" name="query" value="{{query}}" id="search_keywords" />
            <input id="query-submit"  type="submit" value="search" style="display:none;"/>
          </form>
        </div>
        <td>
        </tr>
      </table>
      <table class="bordered">
        <thead>
          <tr>
            <th>
              {{ knp_pagination_sortable(pagination, 'Day', 'u.dia')|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw }}
              <div>
                {% if pagination.isSorted('u.dia') %}
                <img src="{{ asset('img/arrow_small_down.gif') }}" alt="Descendent" />
                {% else %}
                <img src="{{ asset('img/arrow_small_up.gif') }}" alt="Ascendent" />
                {% endif %}
              </div>
            </th>
            <th>
              {{ knp_pagination_sortable(pagination, 'Cedula', 'u.cedula')|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw }}
              <div>
                {% if pagination.isSorted('u.cedula') %}
                <img src="{{ asset('img/arrow_small_down.gif') }}" alt="Descendent" />
                {% else %}
                <img src="{{ asset('img/arrow_small_up.gif') }}" alt="Ascendent" />
                {% endif %}
              </div>
            </th>
            <th>
              {{ knp_pagination_sortable(pagination, 'Name', 'u.nombre')|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw }}
              <div>
                {% if pagination.isSorted('u.nombre') %}
                <img src="{{ asset('img/arrow_small_down.gif') }}" alt="Descendent" />
                {% else %}
                <img src="{{ asset('img/arrow_small_up.gif') }}" alt="Ascendent" />
                {% endif %}
              </div>
            </th>
            <th>
              {{ knp_pagination_sortable(pagination, 'Last Name', 'u.apellido')|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw }}
              <div>
                {% if pagination.isSorted('u.apellido') %}
                <img src="{{ asset('img/arrow_small_down.gif') }}" alt="Descendent" />
                {% else %}
                <img src="{{ asset('img/arrow_small_up.gif') }}" alt="Ascendent" />
                {% endif %}
              </div>
            </th>
            <th>Menu</th>
          </tr>
        </thead>
        <tbody>
        {% if pagination|length == 0 %}
        <p>{{ 'There are not results' }}</p>
        {% endif %}
        {#
        <div id="usuarios">
          #}
          <div id="dialog" title="Cannot proceed">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
          </div>
          {% for entity in pagination %}
          <tr class="tsearch">
            <td>{{ entity.dia|date("d-m-Y H:i:s") }}</td>
            <td>{{ entity.usuario.cedula }}</td>
            <td>{{ entity.usuario.nombre }}</td>
            <td>{{ entity.usuario.apellido }}</td>
            {% if entity.menu == "" %}
            <td>{{ 'There is not information available' }}</td>
            {% else %}
            <td>{{entity.menu}}</td>
            {% endif %}
            {#
            {% set _menuTd = false %}
            {% for menuTd in userMenuTd %}
            {% if menuTd.id == entity.menu.id %}
            {% set _menuTd = true %}
            {% endif %}
            {% endfor %}
            {% if _menuTd %}
            <td>{{ entity.menu.seco }}</td>
            {% else %}
            <td>{{ 'There is not information available' }}</td>
            {% endif %}
            #}
            {#
            <td>
              <ul>
                <li>
                <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>

                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/show">{{ 'Show' }}</a>
                </li>
                {% if is_granted("ROLE_USER") %}
                <li>
                <a href="{{ app.request.uriForPath('/#!/menu/') }}{{ entity.id }}/edit">{{ 'Edit' }}</a>
                </li>
                {% endif %}
              </ul>
            </td>
            #}
          </tr>
          {% endfor %}
          {#
        </div>
        #}
        </tbody>
      </table>
      {#
      <ul>
        <li>
        <a href="{{ path('menu_new') }}">
          {{ 'New' }}
        </a>
        -->
        <br />
        <div class="navigation">
          {{ pagination.render()|raw }}
        </div>
        <br />
        {% if is_granted("ROLE_USER") %}
        <a href="{{ app.request.uriForPath('/#!/menu/new') }}">
          {{ 'New' }}
        </a>
        {% endif %}
        </li>
      </ul>
      #}
      {% if pagination|length != 0 %}
      <div class="navigation">
        {{knp_pagination_render(pagination)|replace({'usuario': '#!/usuario', 'searchafact': 'facturar'})|raw}}
      </div>
      {% endif %}
      <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

    </div> <!-- /col-text -->
