<div id="col-text">

  <table class="record_properties">
    <tbody>
    <tr>
      <th>{{ 'Image' }}</th>
      <td><img src="{{ app.request.uriForPath ('/../img/inces.jpg') }}" width="120" height="90" alt="logo" /></td>
    </tr>
    <tr>
      <th>{{ 'Name' }}</th>
      <td>{{ entity.nombre }}</td>
    </tr>
    <tr>
      <th>{{ 'Last Name' }}</th>
      <td>{{ entity.apellido }}</td>
    </tr>
    <tr>
      <th>{{ 'Cedula' }}</th>
      <td>{{ entity.cedula }}</td>
    </tr>
    <tr>
      <th>{{ 'Card' }}</th>
      <td>{{ entity.ncarnet }}</td>
    </tr>
    {#
    <tr>
      <th>A_i</th>
      <td>{{ entity.ai }}</td>
    </tr>
    #}
    </tbody>
  </table>
</div> <!-- /col-text -->
